<h1 mat-dialog-title style="text-align: center;">Adicionar Produto</h1>
<div mat-dialog-content style="text-align: center;">
  <mat-form-field>
    <mat-label>Categoria</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of categorias" [value]="item.id">{{item.nome}}</mat-option>
    </mat-select>
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Nome do Produto</mat-label>
    <input matInput [(ngModel)]="produto.nome">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Preço Unitário</mat-label>
    <input matInput [(ngModel)]="produto.preco">
  </mat-form-field><br>
    <mat-label>Imagem do Produto</mat-label>
    <input  type="file" [ngModel]="imagemSelecionada" (change)="selecionarImagem($event)" style="width: 100%;">
    <img [src]="imagemSelecionadaUrl" *ngIf="imagemSelecionadaUrl" style="width: 200px; height: 150px; align-items: center;">
</div>
<div mat-dialog-actions style="justify-content: center;">
  <button mat-button (click)="Adicionar()">Adicionar</button>
  <button mat-button color="warn" (click)="Cancelar()">Cancelar</button>
</div>