<form [formGroup]="form">
    <h1 mat-dialog-title style="text-align: center;">Atualizar Produto</h1>
    <div mat-dialog-content style="text-align: center;">
      <mat-form-field>
        <mat-label>{{produto.categoria.nome}}</mat-label>
        <mat-select formControlName="categoriaId">
          <mat-option  *ngFor="let item of categorias" [value]="item.id">{{item.nome}}</mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>{{produto.nome}}</mat-label>
        <input matInput formControlName="nome">
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>{{produto.preco}}</mat-label>
        <input matInput formControlName="preco">
      </mat-form-field><br>
    </div>
    <div mat-dialog-actions style="justify-content: center;">
      <button type="submit" mat-button (click)="Atualizar()" [disabled]="form.invalid">Adicionar</button>
      <button mat-button color="warn" (click)="Cancelar()">Cancelar</button>
    </div>
    </form>