<form [formGroup]="form">
<div class="containercadastro">
    <mat-form-field style="width: 250px;">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field style="width: 250px;">
        <mat-label>Nome Completo</mat-label>
        <input matInput type="text" formControlName="nomeCompleto">
    </mat-form-field>
    <mat-form-field style="width: 150px;">
        <mat-label>CPF</mat-label>
        <input matInput type="text" formControlName="cpf">
    </mat-form-field>
    <mat-form-field style="width: 150px;">
        <mat-label>Telefone</mat-label>
        <input matInput type="text" formControlName="telefone">
    </mat-form-field>
   <mat-form-field style="width: 180px;">
    <mat-label>Data de Nascimento</mat-label>
    <input matInput type="date" formControlName="dataNasc">
   </mat-form-field>
   <mat-form-field style="width: 150px;">
    <mat-label>Senha</mat-label>
    <input matInput type="password" formControlName="senha">
</mat-form-field>
<mat-form-field style="width: 150px;">
    <mat-label>Confirmação</mat-label>
    <input matInput type="password" formControlName="confirmacaoSenha" (change)="AdicionarValidator()">
</mat-form-field>
<a mat-button>Cadastrar</a>
<a mat-button color="warn">Cancelar</a>
</div>
</form>