.ContainerLista{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  height: 600px;
  position: fixed;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  overflow-y: scroll;
}

.ItemLista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    height: 230px;
}

.ItemLista img{
    width: 160px;
    empty-cells: 120px;
    object-fit: contain;
    margin-bottom: 10px;
}

.ItemLista .botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.ItemLista .botoes a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}